@import "tailwindcss";



  h1 {
    @apply text-lg md:text-xl lg:text-4xl font-bold leading-tight tracking-tight;
  }

  h2 {
    @apply text-base md:text-lg lg:text-2xl font-bold leading-snug;
  }

  h3 {
    @apply text-base sm:text-lg md:text-xl lg:text-xl font-semibold leading-snug;
  }

  h4 {
    @apply text-base sm:text-base md:text-lg lg:text-xl font-semibold;
  }

  h5 {
    @apply text-sm sm:text-base md:text-lg font-medium;
  }

  h6 {
    @apply text-xs sm:text-sm md:text-base font-medium;
  }
   p {
    @apply text-sm sm:text-base md:text-base lg:text-lg leading-relaxed;
  } 

/* Hide horizontal scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
